    html {
        overflow-x: hidden; }
    
    body {
        font-family: "Raleway", sans-serif !important;
        line-height: 1.7;
        font-size: 18px;
        background: linear-gradient(to right, #2A363B, #1d2c31) !important;
        color: #859196; 
    }

    .btn {
        border-radius: 4px;
        padding: 20px 30px;
        font-size: 14px;
        letter-spacing: .1em;
        text-transform: uppercase;
        font-weight: bold;
        cursor: pointer; }
        .btn:hover, .btn:active, .btn:focus {
        outline: none;
        -webkit-box-shadow: none;
        box-shadow: none; }
        .btn.btn-primary {
        background: #CF4647;
        border-color: #CF4647;
        color: #fff; }
        .btn.btn-primary:hover, .btn.btn-primary:focus, .btn.btn-primary:active {
            border-color: #b32f30;
            background: #b32f30; }
        .btn.btn-outline-white {
        border-color: rgba(255, 255, 255, 0.2);
        background: none; }
        .btn.btn-outline-white:hover, .btn.btn-outline-white:focus, .btn.btn-outline-white:active {
            background: #fff;
            border-color: #fff;
            color: #000; }
    
    .form-control {
        border: 2px solid rgba(255, 255, 255, 0.2);
        height: 55px;
        background: none !important;
        color: #fff !important;
        font-size: 18px; }
        .form-control:focus, .form-control:active {
        border: 2px solid #fff; }
    
    .probootstrap-vh-100 {
        height: 100vh;
        min-height: 1000px; }
        @media screen and (max-width: 960px) {
        .probootstrap-vh-100 {
            height: inherit;
            padding-top: 5em;
            padding-bottom: 5em; } }
    
    .probootstrap-vh-75 {
        height: 75vh; }
        @media screen and (max-width: 960px) {
        .probootstrap-vh-75 {
            height: inherit;
            padding-top: 5em;
            padding-bottom: 5em; } }
    