@import "reloj";
@import "Estructure";

#root {
    width: 100vw; 
    //text-align: center;
    font-family: "Raleway", sans-serif;
    line-height: 1.7;
    font-size: 18px;
    //background: #2A363B;
    //background: -webkit-linear-gradient(to right, #2A363B, #2A363B);
    background: linear-gradient(to right, #2A363B, #1d2c31);
    color: #fff;
    //overflow: hidden;
    color: #859196; 
}  

    .button {
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 150px;
    margin: 5px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    }

    .button:hover {
    background-color: #000;
    color: #fff;
    }

    h2, .titulo {
    margin: 0;
    font-size: 10.5rem;
    }

.boxcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 50px;
    text-align: center;
    color: whitesmoke;
    background-color: #dddddd1b;
    border: #d7d7d70e solid 1px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.5);
}

.box2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    .btnselect {
        margin-left: 10px;
        margin-top: 20px;
        width: 20%;
        gap: 10px;
        padding: 3px;
        text-align: center;
        color: whitesmoke;
        background-color: #e1e1e14e;
        border: #d7d7d70e solid 1px;
        border-radius: 5px;
        box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.5);
        &:hover {
            background-color: #e1e1e1;
            color: #000;
        }
    }
}

.columna2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    text-align: center;
    background-color: #ffffff;
    border: #000 solid 1px;
}
.columna3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    text-align: center;
    background-color: #ffffff;
    border: #000 solid 1px;
}