@import "reloj";
@import "Estructure";
@import "Task";

#root {
    //width: 100vw; 
    font-family: "Raleway", sans-serif;
    line-height: 1.7;
    font-size: 18px;
    background: linear-gradient(to right, #2A363B, #1d2c31);
    color: #fff;
    color: #859196; 
}  

    .button {
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 150px;
        margin: 5px;
        border: 1px solid #000;
        border-radius: 5px;
        background-color: #fff;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
    }

    .button:hover {
    background-color: #000;
    color: #fff;
    }

h2, .titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 4.5rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    text-align: center;
    @media screen and (max-width: 768px) {
        font-size: 3rem;
    }
}
h1, .hora {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5.5rem;
    font-weight: 200;
    text-transform: none;
    letter-spacing: 0;
    margin-left: 10px;
}

// label {
//         //position: relative;
//         //width: 140px;
//         width: 100%;
//         height: 240px;
//         margin: 20px;
//         //display: block;
//         background-image: url('https://media1.giphy.com/media/aTCa0tTwPzfig/giphy.gif?cid=ecf05e47cyy8u0bsin2hzkc5ugwo8oit1q93cserwgmwh5sl&rid=giphy.gif&ct=g');
//         background-size: cover;
//         background-position: center;
//         border: 10px solid rgba(198, 247, 255, 0.5);
//         //border-radius: 5%;
//         cursor: pointer;
//         transition: 1s ease;
//         box-shadow: 0 0 25px rgba(0, 0 , 0, 0.2);
        
//     }

.beta {
    position: relative;
    top: -5px;
    background-color: white;
    padding: 5px;
    text-align: center;
    font-size: 10px;
    text-decoration: solid;
    font-weight: 600;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: #d7d7d70e solid 1px;
    border-radius: 5px;
    text-transform: uppercase;
    transition: all 1s ease;
    &:hover {
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
        color: #ffffff;
        background-color: #000;
    }
}


.buttons {
        display: block;
        //width: 140px;
        width: 20%;
        height: 60px;
        //display: block;
        background-image: url('https://media1.giphy.com/media/aTCa0tTwPzfig/giphy.gif?cid=ecf05e47cyy8u0bsin2hzkc5ugwo8oit1q93cserwgmwh5sl&rid=giphy.gif&ct=g');
        background-size: cover;
        background-position: center;
        border: 10px solid rgba(198, 247, 255, 0.5);
        border-radius: 5%;
        cursor: pointer;
        transition: 1s ease;
        box-shadow: 0 0 25px rgba(0, 0 , 0, 0.2);
    }

button:checked  ~ label::before {
    background-color: #e1e1e1;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.5);
    color: #000;
}

button:checked  ~ label::after  {
    background-color: #e1e1e1;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.5);
    color: #000;
}

button:checked ~ label {
    background-image: url('https://i.gifer.com/7e49.gif');
    background-size: cover;
    background-position: center;
    //border: 10px solid rgba(90, 79, 136, 0.354);
}

.checkmark {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px;
    @media screen and (max-width: 768px) {
        margin: 0 20px 0 20px;
    }
}

//keyframes color rainbow
@keyframes color {
    0% {
        color: #871abe58;
    }
    25% {
        color: #c6771737;
    }
    50% {
        color: #00ff003a;
    }
    75% {
        color: #12e1e142;
    }
    100% {
        color: #3e3eb243;
    }
}

footer {
    .socials {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: auto;
        padding: auto;
            .socialicon {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                margin: auto;
                color: #1d2c31 ;
                padding: 10px;
                width: 50px;
                height: 50px;
                border-radius: 30%;
                animation: color 5s infinite;
                transition: all 1s ease;
                &:hover {
                    //zoom 1.1
                    transform: scale(1.2);
                    background-color: #0000003b;
                    color: #fff;
                    border-radius: 50%;
                }
            }
        }
}

.boxcontainer3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: whitesmoke;
    //border: #d7d7d738 solid 1px;
    border-top: #1d2c31 solid 1px;
    border-bottom: #1d2c31 solid 1px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.101);
    transition: all 1s ease;
    //border-radius: 5px;
    &:hover {
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.101);
    }
}

.boxcontainer2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 40px;
    text-align: center;
    color: whitesmoke;
    //border: #d7d7d738 solid 1px;
    border-top: #1d2c31 solid 1px;
    border-bottom: #1d2c31 solid 1px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.101);
    transition: all 1s ease;
    //border-radius: 5px;
    &:hover {
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.101);
    }
}

.pre {
    
    transition: all 0.3s ease;
    .showcode .pre {
        border: red solid 1px;
    }
}

.box2 {
    text-align: center;
    margin: 10px;
    padding: auto;
    .btnselect {
        margin-left: 10px;
        margin-top: 10px;
        width: 30%;
        gap: 10px;
        padding: 10px;
        text-align: center;
        color: whitesmoke;
        background-color: #e1e1e11c;
        list-style: none;
        border: #d7d7d70e solid 1px;
        border-radius: 5px;
        transition: box-shadow 0.5s ease-in-out;
        &:hover {
            background-color: #e1e1e1;
            box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.5);
            color: #000;
        }
        &:focus {
            outline: none;
        }
        @media screen and (max-width: 768px) {
            width: 90%;
        }
    }
}

.btnicon {
    margin-left: 10px;
    margin-top: 20px;
    width: 10%;
    gap: 10px;
    text-align: center;
    color: whitesmoke;
    background-color: #e1e1e11c;
    border: #d7d7d70e solid 1px;
    border-radius: 5px;
    transition: box-shadow 0.5s ease-in-out;
    &:hover {
        background-color: #e1e1e1;
        box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.5);
        color: #000;
    }
    @media screen and (max-width: 768px) {
        width: 15%;
    }
}

.navbarconlist {
    position: absolute;
    top: 0;
    right: 50px;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.navline {
    @media screen and (max-width: 1000px) {
        display: none;
    }
}
.navline2 {
    @media screen and (max-width: 1008px) {
        display: flex;
        margin-top: 10px;
        color: #859196;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border-bottom: #85919620 solid 1px;
    }
    @media screen and (min-width: 768px) {
        display: none;
    }
    .navlinkx {
        text-decoration: none;
        margin-top: 5px;
        padding: 5px;
        text-align: center;
        color: whitesmoke;
        transition: all 0.3s ease;
        &:hover {
            border-bottom: #859196 solid 1px;
        }
    }
}

.navbarlist {
    //position: absolute;
    //top: 0;
    display: flex;
    right: 50px;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    li {
        list-style: none;
        text-align: center;
        color: whitesmoke;
    }
    @media screen and (max-width: 808px) {
        display: none;
        right: 5px;
    }
}

.navcenter {
    position: absolute;
    top: 10px;
    right: 50%;
    left: 50%;
    @media screen and (min-width: 1008px) {
        display: none;
    }
}

.navlink {
    text-decoration: none;
    margin: 5px;
    padding: 10px;
    text-align: center;
    color: whitesmoke;
    transition: all 0.3s ease;+
    &:hover {
        border-bottom: #969696 solid 1px;
        border-radius: 5px;
        color: #217a97;
        text-decoration: none;
    }
}