.buttonpip {
    // position: absolute;
    // top: 0;
    // left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
}

.contenedorplayer{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    //border-color: red solid 1px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    text-align: center;
    
    opacity: 0.1;
    //background-color: aqua;
    //box-shadow: inset 100px 100px 0px 120px rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease-in-out;
    &:hover {
            border: rgba(0, 0, 0, 0.259) solid 5px;
            padding: 5px;
            //box-shadow: inset 100px 100px 0px 120px rgba(126, 126, 126, 0.186);
            opacity: 0.8;
            visibility: visible;
    }
}

.buttonpip-content {
    width: 90%;
    //height: 50px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.buttonpip-close {
    position: absolute;
    top: 20px;
    right: 20px;
    margin-top: 10px;
    button {
        width: 50px;
        height: 50px;
        font-size: 12px;
        font-weight: bold;
        background-color: rgba(0, 0, 0, 0.333);
        color: white;
        border-radius: 50%;
        border: none;
        cursor: pointer;
        transition: all 0.5s ease;
        &:hover {
            color: rgba(0, 255, 255, 0.516);
            background-color: rgba(0, 0, 0, 0.5);
        }
    }
}

.inputplayer {
    width: 100%;
    height: 100px;
    background-color: #ffffff41;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    border: none;
    input {
        width: 100%;
        height: 30px;
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.334);
        outline: none;
        text-align: center;
        color: #000000b4;
        font-size: 0.8rem;
        //font-weight: bold;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        background-color: #ffffff41;
        //margin-bottom: 10px;
    }
    button {
        width: 100%;
        height: 30px;
        font-size: 12px;
        font-weight: bold;
        background-color: rgba(0, 0, 0, 0.333);
        color: white;
        //border-radius: 10px;
        border-bottom: #9f9f9f2e solid 2px;
        //border: none;
        border-top: none;
        border-left: none;
        border-right: none;

        cursor: pointer;
        transition: all 0.5s ease;
        &:hover {
            color: rgba(0, 174, 174, 0.516);
            //background-color: rgba(0, 0, 0, 0.5);
        }
    }
}

.buttonpip-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.player {
    //position: flex;
    display: flex;
    opacity: 0.5;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-color: red solid 1px; 
    text-transform: uppercase;
    letter-spacing: 0.2em;
    text-align: center;
    .playerpop-up {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        visibility: hidden;
        transition: all 0.5s ease;
        .playerpop-up-content {
            width: 80%;
            height: 80%;
            background-color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            .playerpop-up-close {
                position: absolute;
                top: 20px;
                right: 20px;
                font-size: 2rem;
                cursor: pointer;
            }
            .playerpop-up-img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}